.steps-slider {
  background: #000;
  height: 200vh;
  min-height: 768px;

  &__container {
    padding-left: calc((100% - 860px)/2 + 1rem);
    height: 100vh;

    @media screen and (min-width: 1050px) {
      padding-left: calc((100% - 1024px)/2 + 1rem);
    }

    @media screen and (min-width: 1200px) {
      padding-left: calc((100% - 1140px)/2 + 1rem);
    }
  }
}
