<section class="section-comercio pt-20">
    <div class="container mx-auto">
        <div class="flex w-full px-4 md:px-6 mb-16  justify-center">
            <h2 class="flex text-black text-[12px] leading-tight font-light justify-center">COMERCIO ELECTRONICO</h2>
        </div>
        <div class="mt-[40px]">
            <h2 class="flex text-black text-5xl leading-tight font-bold justify-center">Escala sin límites, tu <br>
                tienda crece contigo
            </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mt-6">
            <div *ngFor="let service of services"
                class="rounded-xl shadow-lg overflow-hidden transform transition hover:scale-105">

                <!-- Parte superior negra -->
                <div class="bg-black py-6 text-center">
                    <h3 class="text-white text-lg font-semibold">{{ service.title }}</h3>
                </div>

                <!-- Parte inferior blanca con sombra azul -->
                <div
                    class="bg-white px-4 py-6 text-center border-t-4 border-blue-500 shadow-[0_8px_30px_rgba(0,0,255,0.15)]">
                    <p class="text-sm text-gray-700 leading-relaxed">
                        {{ service.description }}
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>