<div class="gracias-hero">
  <div class="container m-auto relative z-10">
    <div class="flex flex-wrap flex-col px-6">
      <div class="w-full lg:w-8/12 mx-auto sm:pr-24">
        <h1 class="font-medium text-3xl sm:text-5xl">¡Muchas gracias!</h1>
        <h2 class="font-light textl-xl sm:text-3xl mb-6">Recibimos tu mensaje con éxito</h2>
        <p class="mb-12 sm:mb-24 pr-8">Nos pondremos en contacto muy pronto para ayudarte con tu ecommerce, te invitamos a seguir explorando más de lo que hacemos.</p>
        <a id="gracias-backCta" class="btn btn-primary" href="https://esedor.com">Seguir explorando</a>
      </div>
    </div>
  </div>
  <div class="gracias-hero__poligono">
    <img src="assets/images/hero/poligono.png" >
  </div>
  <div class="gracias-hero__donut">
    <img src="assets/images/hero/donut-small.png" >
  </div>
  <div class="gracias-hero__carrito">
    <img src="assets/images/hero/carrito.png">
  </div>
  <div class="gracias-hero__cursor">
    <img src="assets/images/hero/cursor.png">
  </div>
</div>
