<section class="flex md:hidden pt-16 pb-12">
  <div class="container m-auto">
    <div class="w-full px-4 mb-12">
      <h2 class="flex text-2xl text-center leading-tight font-light justify-center">Beneficios</h2>
    </div>

    <div class="swiper-container" [swiper]="config">
      <div class="swiper-wrapper pb-8">
        <div *ngFor="let service of services" class="w-1/3 flex swiper-slide">
          <div class="service-responsive-item">
            <div class="service-responsive-item__title">
              <h3 class="text-center text-xl font-bold">{{ service.title }}</h3>
            </div>

            <div class="service-responsive-item__content">
              <p class="text-black mb-8 text-[0.5rem]">{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-services hidden md:flex pt-20 pb-12">
  <div class="container mx-auto">
    <div class="w-full px-4 md:px-6 mb-16">
      <h2 class="flex text-white text-4xl leading-tight font-light justify-center">Beneficios</h2>
    </div>
    <div class="flex flex-wrap">
      <div *ngFor="let service of services" class="w-1/2 lg:w-1/4 service-item px-6 mb-16">
         <img
                [src]="imagePath + service.image"
                [alt]="service.title"
                [title]="service.title"
                class="w-16 h-16 object-contain"
              >
        <h3 class="text-lg font-bold mb-6 mt-6">{{ service.title }}</h3>
        <p class="text-sm">{{ service.description }}</p>
      </div>
    </div>
  </div>
</section>
